
* {
    box-sizing: border-box;
}
header{
    padding:20 0 20 0;
    text-align: left;
    text-size:
}

header .logo img {
    float: left;
    border: 2px dashed #880acc;
    padding: 10px;
    margin-right: 40px;
    margin-bottom: 60px;
    box-shadow: 4px 4px 10px #880acc;
    font-style: 1.2;
}

body {
    margin: 50 0 50 0;
    font-family: OCR A Extended;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.4;
    color: #E2E3DD;
    background-color: Black;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #EB9875;
    font-size: 1.4rem;
}

a:hover {
    color: #F37A48;
}

h1 {
    font-size: 1.6rem;
}
