
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: Sweetmandarine;
    background-color: black;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: articwhite;
    text-decoration: none;
}

a:hover {
    color: red;
}
