
* {
    box-sizing: border-box;
}
header{
    padding:20 0 20 0;
}

body {
    margin: 10 0 10 0;
    font-family: OCR A Extended;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.4;
    color: #E2E3DD;
    background-color: Black;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #EB9875;
    text-decoration: none;
}

a:hover {
    color: #F37A48;
}
